{% extends 'base_generic.html' %}
{% load crispy_forms_tags %}

{% load tz %}
{% now "Y-m-d" as todays_date %}

{% block content %}
<form action="{% url 'todolists:create' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br><br>

    <label for="completed">Completed:</label><br>
    <input type="checkbox" id="completed" name="completed" value="false"></textarea><br><br>

    <label for="due_date">Due_date:</label><br>
    <input type="date" id="due_date" name="due_date" value="{{ todays_date }}"><br><br>

    <input type="submit" class="btn btn-primary" value="Create Task">
</form>
{% endblock %}